.pretty-button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 100px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 15px 20px;
  cursor: pointer;
}

.footer {
  align-self: bottom;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 2rem;
  background-color: white;
}
    
